body {
    background-color: #000;
    color: #fff;
  }
  .ant-layout-header {
    background-color: #001529;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ant-layout-sider {
    background-color: #001529;
  }
  